# Don't track content of these folders
CS460/HW3/.vs/
CS460/HW3/BinaryPrinter/.vs/
CS460/HW3/BinaryPrinter/bin/
CS460/HW3/BinaryPrinter/obj/

# HW4

CS460/HW4/.vs/
CS460/HW4/HW4/.vs/
CS460/HW4/HW4/bin/
CS460/HW4/HW4/obj/
CS460/HW4/packages/

# HWK4

CS460/HWK4/.vs/
CS460/HWK4/HWK4/.vs/
CS460/HWK4/HWK4/bin/
CS460/HWK4/HWK4/obj/
CS460/HWK4/packages/

# HW5

CS460/HW5/.vs/
CS460/HW5/HW5/.vs/
CS460/HW5/HW5/bin/
CS460/HW5/HW5/obj/
CS460/HW5/packages/
CS460/HW5/HW5/App_Data/Forms.mdf
CS460/HW5/HW5/App_Data/Forms_log.ldf

# HW6
CS460/HW6/.vs/
CS460/HW6/HW6/.vs/
CS460/HW6/HW6/bin/
CS460/HW6/HW6/obj/
CS460/HW6/packages/

# HW7
CS460/HW7/.vs/
CS460/HW7/HW7/.vs/
CS460/HW7/HW7/bin/
CS460/HW7/HW7/obj/
CS460/HW7/packages/


# Compiled Source #
####################

*.exe
