# Don't track content of these folders
CS460/HW3/.vs/
CS460/HW3/BinaryPrinter/.vs/
CS460/HW3/BinaryPrinter/bin/
CS460/HW3/BinaryPrinter/obj/

# HW4

CS460/HW4/.vs/
CS460/HW4/HW4/.vs/
CS460/HW4/HW4/bin/
CS460/HW4/HW4/obj/
CS460/HW4/packages/

# Compiled Source #
###################

*.exe
