#homeheader{
    
    color: white;
    
    text-align: center;
    
    background-color: gray;
    
}     
    
#weeks{
    
    color: white;
    
    text-align: center;
    
    background-color: gray;
    
}

h4{
    
    color: gray;
    
}

h2, h3{
    
        color: gray;
    
        text-align: center;
    
}