
<div class="row">
    <center>
        <h1>Internet Language Translator</h1>
        <br />
        <form>
            <div class="form-group">
                <input type="text" id ="search" name="search" placeholder="Start typing your message here..." class="form-control">
                <br />
            </div>
        </form>
    </center>
</div>


