@model IEnumerable<HW6.Models.Person>

@{
    ViewBag.Title = "Home Page";
}

@* This is my landing page*@

@*This is the form elements used to make page
  -Textbox
  -Submit button
  ------------------
  The parameters given to the Html.BeginForm implements strongly typed views
*@
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="row">
    <center>
    <h2>Client Search</h2>    
    <div class="row">
        @Html.TextBox("Search", null, new { @class = "form-control", required = "required", placeholder = "Search by client name"})
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
    </center>
    </div>
}

@*
    This is where the results are created(the html portion of the results)
    Checks if there were any matches found, if not it says so.
    If there is a match(es) then it will make a button for each one found.
    The button takes the user the the Specs page with the specifications of the person they clicked on
*@
@if (ViewBag.show)
{
    if (Model.Count() == 0)
    {
        <h3>Im sorry, your search returned no results</h3>
    }
    else
    {
        <div>
            <h3>Names matching your search:</h3>
        </div>
        @* A for each loop that will go through every person with a match to the search, 
            and create a button for the user to interact with the search*@
        foreach (var person in Model)
        {
        <div>
            @*Here you can see how the id of each person is passed to the Specs parameter, and how user is taken to that page*@
            <a class="btn btn-default btn-lg btn-block" role="button" href="Home/Specs/@person.PersonID">@person.FullName (@person.PreferredName)</a>
        </div>
            }
        }
    }