@model IEnumerable<HW8.Models.Item>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <center><h1>REGINALD'S ANCIENT ANTIQUITIES AUCTION HOUSE</h1>
    <div class="row">
        <div class="col-lg-5">
            <h2>Bid on an Item!</h2>
            <a class="btn btn-default" href="/Auction/CreateBid">Go! &raquo;</a>
        </div>
        <div class="col-lg-5">
            <h2>View all Auction Items</h2>
            <a class="btn btn-default" href="/Auction/IndexList">Go! &raquo;</a>
        </div>
    </div> </center>
</div>