
@{
    ViewBag.Title = "Mile to Metric Converter";
}

<h2>Convert Miles to Metric</h2>

<div class="row">
    <form>
        <div class="col-md-6">       
            <label for="input">Miles</label>
            <input name="input" type="number" step="0.01" required />
        </div>
        <div class="col-md-6">
            <h3>Select a unit</h3>
            <input type="radio" name="unit" value="millimeters" checked />
            <label for="millimeters">millimeters</label>
            <br />

            <input type="radio" name="unit" value="centimeters" />
            <label for="millimeters">centimeters</label>
            <br />

            <input type="radio" name="unit" value="meters" />
            <label for="millimeters">meters</label>
            <br />

            <input type="radio" name="unit" value="kilometers" />
            <label for="millimeters">kilometers</label>
            <center><p><button type="submit" class="btn btn-primary btn-lg">Convert</button></p></center>
        </div>
    </form>
</div>
<br />
<br />

@if (@ViewBag.Result)
{
    <h2>@ViewBag.Message</h2>
}

